/*************************************
 *  scss 全局变量设置
 *************************************/

$primary:         #32addd;
$success:         #20be86;
$warning:         #ffb237;
$danger:          #ff6161;